discord.py>=2.3.2
aiohttp
pillow
discord.py[voice]
PyNaCl>=1.5.0
python-dotenv
discord.py>=2.6
pymongo
deep-translator
aiosmtplib
qrcode
flask
requests
fastapi
httpx
uvicorn
firebase_admin
aiofiles
feedparser
matplotlib
aiosqlite
ffmpeg